<%= link_to "+ Add New Shop", new_shop_path %>
<br><br>
<% if user_signed_in? %>
<div>Current location: <%= @user.latitude %>, <%= @user.longitude %></div>
<% end %>

<table class="table table-striped table-hover ">
	<thead>
		<tr>
			<h3>Purveyors of Dank Bean</h3>
		</tr>
	</thead>
	<tbody>
		<% @shops.each do |shop|%>
			<tr>
				<td><%= link_to shop.name, shop %></td>
			</tr>
		<% end %>
	</tbody>
</table>
