<%= form_for @roaster do |f| %>
<form class="form-horizontal">
  <fieldset>
      <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
      </div>
  </fieldset>
  <%= f.submit class: "btn btn-warning" %>
</form>
<% end %>