<table class="table table-striped table-hover ">
	<thead>
		<tr>
			<h4>Roasters of Dank Bean</h4>
		</tr>
	</thead>
	<tbody>
		<% @roasters.each do |roaster|%>
			<tr>
				<td><%= link_to roaster.name, roaster %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Add New Roaster", new_roaster_path, class: "btn btn-success" %>